#webkameleon_holidays_form {
    text-align: center;
    height: 44px;
    margin-bottom: 45px;
    position: relative;
}

#webkameleon_holidays_form .glyphicon {
    position: absolute;
    top: 12px;
    vertical-align: baseline;
    font-size: 18px;
    left: 67%;
    cursor: pointer;
    color: #909090;
}

#webkameleon_holidays_form input {
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #565a5c;
    height: 44px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 50%;
    padding-left: 1em;
    padding-right: 1.3em
    display: table-cell;
    border: 1px solid #ccc;
}

#webkameleon_holidays_form a {
    border-color: #e11211;
    border-bottom-color: #d80d0e;
    background-color: #ff491c;
    color: #fff;
    line-height: 44px;
    text-align: center;
    height: 44px;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: inline-block;
    width: 10%;
    cursor: pointer;
}

#webkameleon_holidays_form a:hover {
    text-decoration: none;
}

.lazyload_grid_results {
    padding: 0 0 15px 12px;
    font-size: 12px;
    color: #909090;
}



#webkameleon_holidays_results .row {

}

#webkameleon_holidays_results .row .holiday_photo {
    position: relative;
    padding: 0;
}


#webkameleon_holidays_results .row .holiday_photo div {
    height: 150px;
    overflow: hidden;
    margin: 10px;
}

#webkameleon_holidays_results .row .holiday_photo h3 {
    position: absolute;
    bottom: 20px;
    background-image: url(../img/dark.png);
    background-color: transparent;
    background-repeat: repeat;
    color: #fff;
    padding: 5px 2px 5px 8px;
    left: 10px;
    right: 10px;
    font-size: 16px;
}

#webkameleon_holidays_results .row .holiday_photo h3 b {
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
    display: inline-block;
}

#webkameleon_holidays_results .row .holiday_photo h3 i {
    float: right;
    margin-right: 3px;
}


#webkameleon_holidays_results .row:hover {
    background-color: #f0d0d0;
}

#webkameleon_holidays_results .lazyload_grid_results:hover {
    background-color: transparent;
}

#webkameleon_holidays_results .holiday_photo img {
    width: 100%;
}

#webkameleon_holidays_results .holiday_photo span.stars {
    float: right;
}

#webkameleon_holidays_results .row .trip_desc span.flight {
    background-image: url(../img/flight.png);
    background-repeat: no-repeat;
    width:25px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: 7px;
}

#webkameleon_holidays_results a.q {
    color: #404040;
    cursor: pointer;
}


#webkameleon_holidays_results a.q:hover {
    text-decoration: none;
}
    
#webkameleon_holidays_results .row .trip_desc h4 {
    font-size: 24px;
    margin-top: 10px;
}


#webkameleon_holidays_results .row .trip_desc h5 {
    font-size: 18px;
    
}

#webkameleon_holidays_results .row .trip_desc h6 {
    font-size: 16px;
}

#webkameleon_holidays_results .row .trip_desc a.flight {
    text-transform: capitalize;
    color: #404040;
}

#webkameleon_holidays_results .row .holiday_price h5 {
    font-size: 24px;
    text-align: right;
    margin-top: 10px;
}

#webkameleon_holidays_results .row .holiday_price a:hover {
    text-decoration: none;
}

.lazyload_grid_scroll_to_wait {
  height: 20px;
  background: url(../img/pending.gif);
  background-repeat: no-repeat;
  background-position: center;
}

#webkameleon_holidays_results .row .holiday_price h5 span {
    color: #fff;
    line-height: 44px;
    text-align: center;
    height: 44px;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: block;
    width: 100%;
    cursor: pointer;
    background-color: #ff491c;
    margin-top: 8px;
}


#webkameleon_holidays_helpmodal .modal-body .example {
    cursor: pointer
}

#webkameleon_holidays_hotelmodal h5.modal-country {
    margin-top: 0;
    margin-bottom: 0;
}

#webkameleon_holidays_hotel_carousel .carousel-indicators {
    bottom: auto;
    left: auto;
    right: auto;
    top: 0px;
    width: 100%;
    background-color:rgba(0,0,0,0.5);
    margin: 0;
}
#webkameleon_holidays_hotel_carousel .carousel-caption {
    bottom: auto;
    left: auto;
    right: auto;
    top: 27px;
    width: 100%;
    background-color:rgba(0,0,0,0.5);
    margin: 0;
    padding: 2px 5px 0 5px;
    text-align: left;
}

#webkameleon_holidays_hotel_carousel .carousel-caption h3 {
    margin: 0;
    font-size: 18px;
}

#webkameleon_holidays_hotel_carousel .carousel-caption p {
    font-size: 14px;
    margin: 4px 0;
}

#webkameleon_holidays_hotel_carousel .item img {
    width: 100%;
}

#webkameleon_holidays_helpmodal {
    z-index: 100000;
}

.trip_desc .attr {
    list-style: none;
    padding: 0;
}

.trip_desc .attr li {
    display: inline-block;
    background-image: url('../img/attr.png');
    background-position: 0 -1180px;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    
}
.trip_desc .attr li a {
    width: 20px;
    height: 20px;
    display: inline-block;
}

#webkameleon_holidays_results .trip_desc .attr li.active {
    background-position-x: -22px;
}

#webkameleon_holidays_results .trip_desc .attr li:hover {
    background-position-x: -44px; 
}

.trip_desc .attr li.hotel_attr_1 { background-position: 0 -464px }
.trip_desc .attr li.hotel_attr_2 { background-position: 0 -618px }
.trip_desc .attr li.hotel_attr_3 { background-position: 0 -398px }
.trip_desc .attr li.hotel_attr_4 { background-position: 0 -354px }
.trip_desc .attr li.hotel_attr_5 { background-position: 0 -2px }
.trip_desc .attr li.hotel_attr_6 { background-position: 0 -266px }
.trip_desc .attr li.hotel_attr_7 { background-position: 0 -420px }
.trip_desc .attr li.hotel_attr_8 { background-position: 0 -442px }
.trip_desc .attr li.hotel_attr_9 { background-position: 0 -200px }
.trip_desc .attr li.hotel_attr_10 { background-position: 0 -508px }
.trip_desc .attr li.hotel_attr_11 { background-position: 0 -552px }
.trip_desc .attr li.hotel_attr_12 { background-position: 0 -222px }
.trip_desc .attr li.hotel_attr_13 { background-position: 0 -134px }
.trip_desc .attr li.hotel_attr_14 { background-position: 0 -596px }
.trip_desc .attr li.hotel_attr_15 { background-position: 0 -332px }
.trip_desc .attr li.hotel_attr_16 { background-position: 0 -178px }
.trip_desc .attr li.hotel_attr_17 { background-position: 0 -530px }
.trip_desc .attr li.hotel_attr_18 { background-position: 0 -486px }
.trip_desc .attr li.hotel_attr_19 { background-position: 0 -24px }
.trip_desc .attr li.hotel_attr_20 { background-position: 0 -46px }
.trip_desc .attr li.hotel_attr_21 { background-position: 0 -574px }
.trip_desc .attr li.hotel_attr_22 { background-position: 0 -310px }
.trip_desc .attr li.hotel_attr_23 { background-position: 0 -90px }
.trip_desc .attr li.hotel_attr_24 { background-position: 0 -244px }
.trip_desc .attr li.hotel_attr_25 { background-position: 0 -376px }
.trip_desc .attr li.hotel_attr_26 { background-position: 0 -68px }
.trip_desc .attr li.hotel_attr_27 { background-position: 0 -156px }
.trip_desc .attr li.hotel_attr_28 { background-position: 0 -112px }
.trip_desc .attr li.hotel_attr_29 { background-position: 0 -288px }
.trip_desc .attr li.hotel_attr_30 { background-position: 0 -640px }
.trip_desc .attr li.hotel_attr_31 { background-position: 0 -662px }
.trip_desc .attr li.hotel_attr_32 { background-position: 0 -684px }
.trip_desc .attr li.hotel_attr_35 { background-position: 0 -706px }
.trip_desc .attr li.hotel_attr_36 { background-position: 0 -750px }
.trip_desc .attr li.hotel_attr_38 { background-position: 0 -794px }
.trip_desc .attr li.hotel_attr_39 { background-position: 0 -816px }
.trip_desc .attr li.hotel_attr_40 { background-position: 0 -926px }
.trip_desc .attr li.hotel_attr_41 { background-position: 0 -882px }
.trip_desc .attr li.hotel_attr_42 { background-position: 0 -926px }
.trip_desc .attr li.hotel_attr_43 { background-position: 0 -244px }
.trip_desc .attr li.hotel_attr_44 { background-position: 0 -1080px }
.trip_desc .attr li.hotel_attr_46 { background-position: 0 -1036px }
.trip_desc .attr li.hotel_attr_64 { background-position: 0 -552px }


@media (max-width:480px) {
    #webkameleon_holidays_form input {
        width: 75%;
    }
    
    #webkameleon_holidays_form input {
        font-size: 12px;
    }

}

@media (max-width:640px) {
    #webkameleon_holidays_form input {
        width: 70%;
    }
    #webkameleon_holidays_form a {
        width: 20%;
    }    
}
