#webkameleon_holidays_form {
    text-align: center;
    height: 44px;
    margin-bottom: 45px;
    position: relative;
}

#webkameleon_holidays_form .glyphicon {
    position: absolute;
    top: 12px;
    vertical-align: baseline;
    font-size: 18px;
    left: 67%;
    cursor: pointer;
    color: #909090;
}

#webkameleon_holidays_form input {
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #565a5c;
    height: 44px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 50%;
    padding-left: 1em;
    padding-right: 1.3em
    display: table-cell;
    border: 1px solid #ccc;
}

#webkameleon_holidays_form a {
    border-color: #e11211;
    border-bottom-color: #d80d0e;
    background-color: #ff491c;
    color: #fff;
    line-height: 44px;
    text-align: center;
    height: 44px;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: inline-block;
    width: 10%;
    cursor: pointer;
}

#webkameleon_holidays_form a:hover {
    text-decoration: none;
}

.lazyload_grid_results {
    padding: 0 0 15px 12px;
    font-size: 12px;
    color: #909090;
}



#webkameleon_holidays_results .row {

}

#webkameleon_holidays_results .row .holiday_photo {
    position: relative;
    padding: 0;
}


#webkameleon_holidays_results .row .holiday_photo div {
    height: 150px;
    overflow: hidden;
    margin: 10px 10px 0 10px;
}

#webkameleon_holidays_results .row .holiday_photo h3 {
    position: absolute;
    bottom: 15px;
    background-image: url(../img/dark.png);
    background-color: transparent;
    background-repeat: repeat;
    color: #fff;
    padding: 5px 2px 5px 8px;
    left: 10px;
    right: 10px;
    font-size: 16px;
}

#webkameleon_holidays_results .row:hover {
    background-color: #f0d0d0;
}

#webkameleon_holidays_results .lazyload_grid_results:hover {
    background-color: transparent;
}

#webkameleon_holidays_results .holiday_photo img {
    width: 100%;
}

#webkameleon_holidays_results .holiday_photo span.stars {
    float: right;
}

#webkameleon_holidays_results .row .trip_desc span.flight {
    background-image: url(../img/flight.png);
    background-repeat: no-repeat;
    width:25px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: 7px;
}

#webkameleon_holidays_results a.q {
    color: #404040;
    cursor: pointer;
}


#webkameleon_holidays_results a.q:hover {
    text-decoration: none;
}
    
#webkameleon_holidays_results .row .trip_desc h4 {
    font-size: 24px;
    margin-top: 10px;
}


#webkameleon_holidays_results .row .trip_desc h5 {
    font-size: 18px;
    
}

#webkameleon_holidays_results .row .trip_desc h6 {
    font-size: 16px;
}

#webkameleon_holidays_results .row .trip_desc a.flight {
    text-transform: capitalize;
    color: #404040;
}

#webkameleon_holidays_results .row .holiday_price h5 {
    font-size: 24px;
    text-align: right;
    margin-top: 10px;
}

#webkameleon_holidays_results .row .holiday_price a:hover {
    text-decoration: none;
}

.lazyload_grid_scroll_to_wait {
  height: 20px;
  background: url(../img/pending.gif);
  background-repeat: no-repeat;
  background-position: center;
}

#webkameleon_holidays_results .row .holiday_price h5 span {
    color: #fff;
    line-height: 44px;
    text-align: center;
    height: 44px;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: block;
    width: 100%;
    cursor: pointer;
    background-color: #ff491c;
    margin-top: 8px;
}


#webkameleon_holidays_helpmodal .modal-body .example {
    cursor: pointer
}


@media (max-width:480px) {
    #webkameleon_holidays_form input {
        width: 75%;
    }
    
    #webkameleon_holidays_form input {
        font-size: 12px;
    }

}

@media (max-width:640px) {
    #webkameleon_holidays_form input {
        width: 70%;
    }
    #webkameleon_holidays_form a {
        width: 20%;
    }    
}
